/* d7fdf0,b2ffd6,b4d6d3,b8bac8,aa78a6 */

#golfVideo{
    height: 300px;
    margin-left: 175px;
}

#projectCard{
    padding: 40px;
    background-color: #dfffee;
}
#projectCard1{
    padding: 40px;
}